
.home_header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 40px 0 0 0px;
  margin-bottom: 0;
  width: 100%;
}
.home_header_item {
  font-size: 15px;
  color: #ffffff;
  margin: 0px 30px;
}
.header {
  color: #ffffff;
  font-size: 25px;
  margin: 10px 0 10px 0;
  padding: 0 0 0 30px;
}

.isPress{
  background-color: red;
}

