.screen1{
  width: 100%;
  padding-top: 50px;
}
.home_header {
  font-family: 'Product Sans';
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: right;
  letter-spacing: 1px;
  padding: 12px 20px 0 0;
}

