.booking_screen {
  height: 100%;
  width: 100%;
}
.booking_screen_header {
  width: 100%;
  padding-top: 10px;
}
.cinema_name {
  padding: 0 30px;
  text-align: center;
  width: 100%;
  font-size: 25px;
  color: #fff;
}
.cinema_address {
  padding-right: 10px;
  text-align: right;
  width: 100%;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
.cinema_img {
  width: 100%;
}
.schedules {
  width: 100%;
  height: 200px;
  padding-top: 20px;
  padding-left: 25px;
}
.booking_seats {
  width: 100%;
  height: 500px;
  padding-left: 25px;
  background-color: red;
}
.date_choose{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.date{
  font-size: 16px;
  color: #fff;
}
