.home_nowShowing_film {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.home_nowShowing_film_card {
  width: 200px;
  height: 300px;
  margin: 0 auto;
}
.home_nowShowing_film_title {
  color: #ffffff;
  font-size: 15px;
  margin: 0 auto;
}
.header {
  color: #ffffff;
  font-size: 22px;
  margin: 10px 0 10px 0;
  padding: 0 0 0 30px;
}
