.login {
  flex: 1;
  background-color: #000;
  justify-content: center;
}

.loginLogo {
  align-items: center;
}

.loginText1 {
  font-family: 'Product Sans';
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 46px;
}

.loginText2 {
  font-family: 'Product Sans';
  text-align: center;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.loginInput {
  font-family: 'Product Sans';
  background-color: #000;
  text-align: center;
  font-size: 18px;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0.8;
  border: 1px solid #fff;
  border-radius: 25px;
  margin-top: 20px;
}

.loginFooter {
  font-family: 'Product Sans';
  text-align: center;
  font-size: 14px;
  color: #fff;
  margin-top: 85px;
}

.loginFooterLink {
  color: greenyellow;
}

.loginFooterNext {
  font-family: 'Product Sans';
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  margin-top: 85px;
}
