.screen {
  height: 100%;
  align-items: center;
  background-color: #1e1f27;
  padding-bottom: 50;
  position: relative;
}
.bottomBar {
  position: absolute;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
